.button:link, .button:visited {
  background-color: #ff3333;
  color: white;
  border: 2px solid #ff3333;
  padding: 10px 20px;
  text-align: center;
  width: 20%px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.buttonRow {
  height: 100px;
}

.button:hover, .button:active {
  background-color: #b30000;
  border: 2px solid #b30000;
  color: white;
}

.button.disabled{
  background-color: #b30000;
  border: 2px solid #b30000;
  color: white;
  pointer-events: none;
  cursor: default;
  padding: 10px 20px;
  text-align: center;
  width: 20%px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

thead {
  background: grey;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

.headerMain {
  padding: 20px;
  text-align: center;
  background: #b30000;
  color: white;
  font-size: 30px;
}

.footerMain {
  padding: 20px;
  text-align: center;
  background: #b30000;
  color: white;
  font-size: 15px;
}
