<div class="footerMain">
    <div>
        {{!-- You can contact me on : {{email_id}} 
        // as this doesn't need to be dynamic, hardcoding the email_id
        --}} 
        You can contact me on : <b>sumitbopche01@gmail.com</b>
    </div>
</div>