<div class='headerMain'>
    <div>
        <span id="logo">Tomato</span>, one place to find all restaurants </b>
        <!--TODO: check access -->
        <span id="" style="float:right; padding-top: 15px; font-size: 15px">
            <button type="button" class="greenButton" data-toggle="modal" data-target="#Add_restaurant">
                Add New Restaurant
            </button>
        </span>
    </div>
</div>
<!--TODO: check access -->
{{> modal/add }}
