<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script type="text/javascript" src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {{> header }}
    {{{body}}}
    {{> footer}}
  </body>
</html>
